


    <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">JP_PASS</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">아직</a></li>
                <li><a href="#">뭐늘지</a></li>
                <li><a href="#">모르는데수웅</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">뭔가 멋진 이름</h1>
          <p class="lead">[뭔가 멋진 이름] 은 [뭐라할지 모름]을 위해 [뭐라고하지]를 쉽고, 편하게 찾아줍니다.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default">시작하기</a>
          </p>
        </div>

      </div>

    </div>

  </div>